


<div class="container-fluid">
  <div class="row">
   
      {{#each data}}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{this.img}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text"><a href="{{this.link}}">Read the whole article</a></p>
          <a href="/articles/{{this._id}}" class="btn btn-primary" data_articleId="{{this._id}}">Comment</a>
        </div>
      </div>
      {{/each}}
    
  </div>
</div>





<script>
  $(".btn").on("click", function (event) {
    var articleId = $(this).attr("data_articleId");
    console.log(articleId);
    $.ajax({
      method: "GET",
      url: "/articles/" + articleId
    })
      // With that done, add the note information to the page
      .then(function (data) {
        
        $("#note").append({{this.title}});
        $("#note").append("<input id='titleComment'>");
        $("#note").append("<input id='titleBody'>")
  

      })

  });


  $(document).on("click", "#save", function () {
    // Grab the id associated with the article from the submit button
    var thisId = $(this).attr("data-id");

    // Run a POST request to change the note, using what's entered in the inputs
    $.ajax({
      method: "POST",
      url: "/articles/" + articleId,
      data: {
        // Value taken from title input
        title: $("#commentTitle").val(),
        // Value taken from note textarea
        body: $("#commentBody").val()
      }
    })
      // With that done
      .then(function (data) {
        // Log the response
        console.log(data);
        // Empty the notes section
        $(".note").empty();
      });

    // {{!-- // Also, remove the values entered in the input and textarea for note entry
    // $("#titleinput").val("");
    // $("#bodyinput").val(""); --}}
  });
</script>